<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 350px;">
      <h2 class="text-center mb-4">Login</h2>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input name="email" [(ngModel)]="email" type="email" class="form-control" placeholder="Enter your email">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <div class="input-group">
            <input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Enter your password">
            <button type="button" [classList]="showPassword ? 'btn btn-light':'btn btn-secondary'" (click)="togglePassword()">
              <i class="bi" [classList]="showPassword ? 'bi bi-eye ' : 'bi bi-eye-slash'"></i>
            </button>
          </div>
        </div>
        <button type="submit" class="  btn btn-green-moon rounded-pill w-100" (click)="login()">Login</button>
        @if (wrongPassword) {
        <div class="alert alert-danger mt-3 text-center" role="alert">
          Wrong E-Mail or Password
        </div>
      }
    </div>
  </div>
  